$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1440px;

$font-main: 'Roboto' serif;

$color-background: #C4C4C4;
$color-background-opt: #E3E3E3;
$color-background-opt-selected: #65CDF9;
$color-background-opt-created: #E27BEB
